.back {
    position: fixed;
	z-index: -1;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(0, #120c56, #000000);
}
.stars {
	position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:
		15px 428px white,
		154px 76px white,
		304px 741px white,
		504px 494px white,
		615px 109px white,
		767px 639px white,
		869px 347px white,
		989px 633px white,
		1123px 203px white,
		1227px 379px white,

		20px 25px white,
		155px 422px white,
		358px 413px white,
		518px 129px white,
		632px 193px white,
		778px 470px white,
		875px 396px white,
		993px 279px white,
		1128px 338px white,
		1230px 29px white,

		49px 665px white,
		183px 477px white,
		370px 284px white,
		522px 620px white,
		640px 142px white,
		817px 221px white,
		890px 659px white,
		40px 131px white,
		1145px 294px white,
		1256px 468px white,

		60px 309px white,
		201px 130px white,
		371px 69px white,
		539px 408px white,
		658px 637px white,
		824px 491px white,
		957px 212px white,
		015px 181px white,
		1146px 698px white,
		1267px 207px white,

		64px 43px white,
		206px 488px white,
		410px 108px white,
		556px 98px white,
		687px 56px white,
		829px 336px white,
		959px 632px white,
		1027px 16px white,
		1156px 133px white,
		1269px 226px white,

		106px 176px white,
		228px 581px white,
		429px 103px white,
		579px 224px white,
		706px 120px white,
		834px 177px white,
		962px 538px white,
		1048px 434px white,
		1168px 487px white,
		1279px 451px white,

		141px 365px white,
		235px 196px white,
		438px 387px white,
		581px 641px white,
		743px 424px white,
		852px 315px white,
		964px 570px white,
		1051px 744px white,
		1180px 209px white,
		1282px 536px white,


		146px 365px white,
		244px 196px white,
		450px 387px white,
		582px 641px white,
		744px 424px white,
		854px 315px white,
		970px 570px white,
		105px 744px white,
		119px 209px white,
		129px 536px white,

		149px 456px white,
		289px 86px white,
		476px 307px white,
		586px 725px white,
		747px 70px white,
		861px 430px white,
		971px 512px white,
		1062px 332px white,
		1218px 647px white,
		1302px 643px white,

		150px 327px white,
		290px 763px white,
		493px 484px white,
		592px 132px white,
		766px 278px white,
		865px 604px white,
		975px 94px white,
		1077px 317px white,
		1222px 585px white,
		1317px 514px white,

		504px   405px white,
		904px    43px white,
		971px   387px white,
		639px   761px white,
		585px   552px white,
		944px   412px white,
		138px   731px white,
		859px   314px white,
		759px   732px white,
		259px   585px white,
	   1259px   628px white,
		190px   664px white,
	   1064px   218px white,
	   1226px   499px white,
	   1119px   720px white,
		570px   572px white,
		277px   734px white,
		389px   441px white,
		255px   661px white,
		953px   173px white;
	   

	animation: anim-stars 25s linear infinite;



}

.stars::after {
	content: " ";
	position: absolute;
	top: 800px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow:
		15px 428px white,
		154px 76px white,
		304px 741px white,
		504px 494px white,
		615px 109px white,
		767px 639px white,
		869px 347px white,
		989px 633px white,
		1123px 203px white,
		1227px 379px white,

		20px 25px white,
		155px 422px white,
		358px 413px white,
		518px 129px white,
		632px 193px white,
		778px 470px white,
		875px 396px white,
		993px 279px white,
		1128px 338px white,
		1230px 29px white,

		49px 665px white,
		183px 477px white,
		370px 284px white,
		522px 620px white,
		640px 142px white,
		817px 221px white,
		890px 659px white,
		40px 131px white,
		1145px 294px white,
		1256px 468px white,

		60px 309px white,
		201px 130px white,
		371px 69px white,
		539px 408px white,
		658px 637px white,
		824px 491px white,
		957px 212px white,
		015px 181px white,
		1146px 698px white,
		1267px 207px white,

		64px 43px white,
		206px 488px white,
		410px 108px white,
		556px 98px white,
		687px 56px white,
		829px 336px white,
		959px 632px white,
		1027px 16px white,
		1156px 133px white,
		1269px 226px white,

		106px 176px white,
		228px 581px white,
		429px 103px white,
		579px 224px white,
		706px 120px white,
		834px 177px white,
		962px 538px white,
		1048px 434px white,
		1168px 487px white,
		1279px 451px white,

		141px 365px white,
		235px 196px white,
		438px 387px white,
		581px 641px white,
		743px 424px white,
		852px 315px white,
		964px 570px white,
		1051px 744px white,
		1180px 209px white,
		1282px 536px white,


		146px 365px white,
		244px 196px white,
		450px 387px white,
		582px 641px white,
		744px 424px white,
		854px 315px white,
		970px 570px white,
		105px 744px white,
		119px 209px white,
		129px 536px white,

		149px 456px white,
		289px 86px white,
		476px 307px white,
		586px 725px white,
		747px 70px white,
		861px 430px white,
		971px 512px white,
		1062px 332px white,
		1218px 647px white,
		1302px 643px white,

		150px 327px white,
		290px 763px white,
		493px 484px white,
		592px 132px white,
		766px 278px white,
		865px 604px white,
		975px 94px white,
		1077px 317px white,
		1222px 585px white,
		1317px 514px white,

		504px   405px white,
		904px    43px white,
		971px   387px white,
		639px   761px white,
		585px   552px white,
		944px   412px white,
		138px   731px white,
		859px   314px white,
		759px   732px white,
		259px   585px white,
	   1259px   628px white,
		190px   664px white,
	   1064px   218px white,
	   1226px   499px white,
	   1119px   720px white,
		570px   572px white,
		277px   734px white,
		389px   441px white,
		255px   661px white,
		953px   173px white;


}

.stars2 {
	position: relative;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	box-shadow:

		1187px 432px white,
		718px 668px white,
		1103px 134px white,
		1233px 470px white,
		377px 775px white,

		325px 697px white,
		775px 362px white,
		223px 314px white,
		745px 277px white,
		338px 490px white,

		842px 449px white,
		1116px 472px white,
		469px 324px white,
		20px 503px white,
		1137px 467px white,

		463px 714px white,
		1119px 656px white,
		1104px 578px white,
		1075px 585px white,
		719px 131px white,


		1046px 339px white,
		30px 41px white,
		978px 325px white,
		624px 647px white,
		22px 229px white,

		175px 595px white,
		482px 415px white,
		1153px 166px white,
		630px 561px white,
		903px 721px white,
		320px 389px white,
		505px 335px white,
		219px 420px white,
		542px 235px white,
		1034px 236px white,

		501px 194px white,
		884px 723px white,
		1237px 124px white,
		670px 171px white,
		1047px 200px white,

		357px 438px white,
		735px 761px white,
		813px 112px white,
		1260px 426px white,
		1208px 217px white,

		355px 126px white,
		101px 193px white,
		63px 358px white,
		729px 115px white,
		1313px 756px white,

		1316px  654px white,   
		 736px  244px white,   
		1102px  355px white,   
		1144px   41px white,   
		 796px  754px white,   
		 823px  339px white,   
		1274px  735px white,   
		 605px  307px white,   
		1326px  158px white,   
		 532px  180px white,   
		1081px  445px white,   
		 656px  235px white,   
		 873px   79px white,   
		  36px  633px white,   
		 303px  632px white,   
		 357px  310px white,   
		 692px  131px white,   
		1083px  537px white,   
		 179px  228px white,   
		 377px  281px white,
        1275px  250px white,
        1307px   10px white,
         530px  643px white,
        1046px  190px white,
          53px  399px white,
         100px  473px white,
         791px  727px white,
        1231px  353px white,
        1278px  770px white,
        1212px  499px white,
         917px   17px white,
         760px  625px white,
          84px  322px white,
        1020px   45px white,
         260px  447px white,
         966px  580px white,
        1111px   30px white,
         296px  501px white,
          11px  253px white,
         166px  455px white,
         129px  372px white,
         446px  505px white,
        1348px  299px white,
         144px   12px white,
         407px  104px white,
        1186px  406px white,
        1009px  564px white,
        1151px  514px white,
         584px  398px white,
         358px   15px white,
         953px   34px white,
         949px  465px white,
         607px  587px white,
         933px  754px white,
        1208px  380px white,
         252px  326px white,
         834px  357px white,
          75px  280px white,
         315px  129px white,
        1325px  661px white,
		223px  396px white,
		503px  220px white,
		385px   37px white,
		439px  746px white,
		822px  713px white,
		647px  619px white,
		888px  328px white,
	   1184px  745px white,
		905px  101px white,
		517px  314px white,
		789px  176px white,
	   1001px   91px white,
		956px  417px white,
	   1305px  336px white,
		316px  501px white,
	   1018px  379px white,
		685px  113px white,
		 41px  413px white,
		229px  668px white,
		549px  235px white,
		 46px  140px white,
	   1054px  500px white,
		929px  327px white,
		285px   10px white,
		309px  609px white,
		632px  438px white,
		247px  649px white,
		138px  262px white,
		337px   51px white,
	   1135px  124px white,
	   1009px  163px white,
		694px  405px white,
		426px  738px white,
	   1039px  205px white,
		103px  204px white,
		692px  540px white,
		533px  523px white,
		842px  522px white,
	   1003px  59px white,
		760px  385px white,
		828px  474px white,
		765px  596px white,
	   1290px  154px white,
	   1264px  288px white,
		475px  360px white,
		797px  315px white,
		697px  582px white,
		283px  246px white,
		418px  504px white,
		352px   55px white,
		944px  187px white,
		157px  172px white,
		425px  107px white,
		482px  670px white,
		518px   54px white,
		968px   26px white,
		876px   78px white,
		729px  614px white,
		485px  244px white,
		762px  662px white,
		860px   14px white,
	   1092px  194px white,
		554px  479px white,
	   1097px  690px white,
		405px  446px white,
		 36px  588px white,
	   1189px   42px white,
		167px  492px white,
		456px  108px white,
		525px  191px white,
		969px  380px white,
	   1313px   66px white,
		767px   48px white,
		600px  155px white,
		449px  759px white,
	   1256px  512px white,
		150px  731px white,
		 82px  698px white,
		255px  384px white,
		477px  726px white,
		274px  544px white,
		 78px  572px white,
	   1047px   64px white,
	   1035px   57px white,
		879px  149px white,
		165px  271px white,
		720px  624px white,
	   1186px   58px white,
		465px  679px white,
		321px  650px white,
		400px  467px white,
	   1253px  495px white,
		728px   87px white,
		603px  724px white,
		638px   88px white,
		578px  552px white,
	   1280px  711px white,
		648px  381px white,
		396px  304px white,
		370px  482px white;
          


	animation: anim-stars 30s linear infinite;
}

.stars2::after {
	content: " ";
	position: absolute;
	top: 800px;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	box-shadow:
		1187px 432px white,
		718px 668px white,
		1103px 134px white,
		1233px 470px white,
		377px 775px white,

		325px 697px white,
		775px 362px white,
		223px 314px white,
		745px 277px white,
		338px 490px white,

		842px 449px white,
		1116px 472px white,
		469px 324px white,
		20px 503px white,
		1137px 467px white,

		463px 714px white,
		1119px 656px white,
		1104px 578px white,
		1075px 585px white,
		719px 131px white,


		1046px 339px white,
		30px 41px white,
		978px 325px white,
		624px 647px white,
		22px 229px white,

		175px 595px white,
		482px 415px white,
		1153px 166px white,
		630px 561px white,
		903px 721px white,
		320px 389px white,
		505px 335px white,
		219px 420px white,
		542px 235px white,
		1034px 236px white,

		501px 194px white,
		884px 723px white,
		1237px 124px white,
		670px 171px white,
		1047px 200px white,

		357px 438px white,
		735px 761px white,
		813px 112px white,
		1260px 426px white,
		1208px 217px white,

		355px 126px white,
		101px 193px white,
		63px 358px white,
		729px 115px white,
		1313px 756px white,

		1316px  654px white,   
		736px  244px white,   
	   1102px  355px white,   
	   1144px   41px white,   
		796px  754px white,   
		823px  339px white,   
	   1274px  735px white,   
		605px  307px white,   
	   1326px  158px white,   
		532px  180px white,   
	   1081px  445px white,   
		656px  235px white,   
		873px   79px white,   
		 36px  633px white,   
		303px  632px white,   
		357px  310px white,   
		692px  131px white,   
	   1083px  537px white,   
		179px  228px white,   
		377px  281px white,
	   1275px  250px white,
	   1307px   10px white,
		530px  643px white,
	   1046px  190px white,
		 53px  399px white,
		100px  473px white,
		791px  727px white,
	   1231px  353px white,
	   1278px  770px white,
	   1212px  499px white,
		917px   17px white,
		760px  625px white,
		 84px  322px white,
	   1020px   45px white,
		260px  447px white,
		966px  580px white,
	   1111px   30px white,
		296px  501px white,
		 11px  253px white,
		166px  455px white,
		129px  372px white,
		446px  505px white,
	   1348px  299px white,
		144px   12px white,
		407px  104px white,
	   1186px  406px white,
	   1009px  564px white,
	   1151px  514px white,
		584px  398px white,
		358px   15px white,
		953px   34px white,
		949px  465px white,
		607px  587px white,
		933px  754px white,
	   1208px  380px white,
		252px  326px white,
		834px  357px white,
		 75px  280px white,
		315px  129px white,
	   1325px  661px white,


	   223px  396px white,
	   503px  220px white,
	   385px   37px white,
	   439px  746px white,
	   822px  713px white,
	   647px  619px white,
	   888px  328px white,
	  1184px  745px white,
	   905px  101px white,
	   517px  314px white,
	   789px  176px white,
	  1001px   91px white,
	   956px  417px white,
	  1305px  336px white,
	   316px  501px white,
	  1018px  379px white,
	   685px  113px white,
		41px  413px white,
	   229px  668px white,
	   549px  235px white,
		46px  140px white,
	  1054px  500px white,
	   929px  327px white,
	   285px   10px white,
	   309px  609px white,
	   632px  438px white,
	   247px  649px white,
	   138px  262px white,
	   337px   51px white,
	  1135px  124px white,
	  1009px  163px white,
	   694px  405px white,
	   426px  738px white,
	  1039px  205px white,
	   103px  204px white,
	   692px  540px white,
	   533px  523px white,
	   842px  522px white,
	  1003px  59px white,
	   760px  385px white,
	   828px  474px white,
	   765px  596px white,
	  1290px  154px white,
	  1264px  288px white,
	   475px  360px white,
	   797px  315px white,
	   697px  582px white,
	   283px  246px white,
	   418px  504px white,
	   352px   55px white,
	   944px  187px white,
	   157px  172px white,
	   425px  107px white,
	   482px  670px white,
	   518px   54px white,
	   968px   26px white,
	   876px   78px white,
	   729px  614px white,
	   485px  244px white,
	   762px  662px white,
	   860px   14px white,
	  1092px  194px white,
	   554px  479px white,
	  1097px  690px white,
	   405px  446px white,
		36px  588px white,
	  1189px   42px white,
	   167px  492px white,
	   456px  108px white,
	   525px  191px white,
	   969px  380px white,
	  1313px   66px white,
	   767px   48px white,
	   600px  155px white,
	   449px  759px white,
	  1256px  512px white,
	   150px  731px white,
		82px  698px white,
	   255px  384px white,
	   477px  726px white,
	   274px  544px white,
		78px  572px white,
	  1047px   64px white,
	  1035px   57px white,
	   879px  149px white,
	   165px  271px white,
	   720px  624px white,
	  1186px   58px white,
	   465px  679px white,
	   321px  650px white,
	   400px  467px white,
	  1253px  495px white,
	   728px   87px white,
	   603px  724px white,
	   638px   88px white,
	   578px  552px white,
	  1280px  711px white,
	   648px  381px white,
	   396px  304px white,
	   370px  482px white;
	  
}

.star3{
	position: relative;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow:
	1175px  730px white,
	 818px  744px white,
	  52px  425px white,
	  59px  261px white,
	 166px  723px white,
	 294px  743px white,
	 750px  390px white,
	 113px  497px white,
	 653px  347px white,
	 417px  669px white,
	  66px  602px white,
	 350px   37px white,
	 943px  373px white,
	 152px  362px white,
	1182px  208px white,
	1137px  308px white,
	 510px  663px white,
	 732px  323px white,
	1334px  380px white,
	 745px  555px white;

	 animation: anim-stars 20s linear infinite;

}

.star3::after{
	position: relative;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	box-shadow:
	1175px  730px white,
	 818px  744px white,
	  52px  425px white,
	  59px  261px white,
	 166px  723px white,
	 294px  743px white,
	 750px  390px white,
	 113px  497px white,
	 653px  347px white,
	 417px  669px white,
	  66px  602px white,
	 350px   37px white,
	 943px  373px white,
	 152px  362px white,
	1182px  208px white,
	1137px  308px white,
	 510px  663px white,
	 732px  323px white,
	1334px  380px white,
	 745px  555px white;

}

@keyframes anim-stars {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-800px);
	}
}




